-- fuzz-slot n1 : Int 0 99
-- fuzz-slot n2 : Int 0 99
module Main exposing (main)

import Ipe.Io as Io
import Ipe.Maybe as Maybe
import Ipe.String as String


main =
    let
        ma = Just @n1@
        mb = Just @n2@
        mc = Maybe.map2 (\a b -> a + b) ma mb
        result = Maybe.withDefault 0 mc
    in
    Io.println (String.fromInt result)
