-- fuzz-slot n1 : Int 0 99
-- fuzz-slot n2 : Int 0 99
-- fuzz-slot n3 : Int 0 99
module Main exposing (main)

import Ipe.Io as Io
import Ipe.String as String


main =
    let
        bigger =
            if @n1@ > @n2@ then
                @n1@
            else
                @n2@
        result =
            let
                scaled = bigger * @n3@
            in
            scaled + 1
    in
    Io.println (String.fromInt result)
