-- fuzz-slot n1 : Int 0 99
-- fuzz-slot n2 : Int 0 99
module Main exposing (main)

import Ipe.Io as Io
import Ipe.String as String


double : Int -> Int
double x = x * 2


main =
    let
        len = @n1@ |> String.fromInt |> String.length
        result = double <| len + @n2@
    in
    Io.println (String.fromInt result)
