-- fuzz-slot n1 : Int 0 99
-- fuzz-slot n2 : Int 0 99
-- fuzz-slot s1 : Lower 1 6
module Main exposing (main)

import Ipe.Io as Io
import Ipe.String as String


main =
    let
        tag = "@s1@"
        count = @n1@
        total = @n2@
        msg = """item={{tag}} count={{String.fromInt count}} total={{String.fromInt total}}"""
    in
    Io.println msg
