-- fuzz-slot n1 : Int 0 99
-- fuzz-slot n2 : Int 0 99
module Main exposing (main)

import Ipe.Io as Io
import Ipe.String as String


main =
    let
        showNum x = "v=" ++ String.fromInt x
        a = showNum @n1@
        b = showNum @n2@
    in
    Io.println (a ++ " " ++ b)
