-- fuzz-slot n1 : Int 0 99
-- fuzz-slot s1 : Lower 1 6
module Main exposing (main)

import Ipe.Io as Io
import Ipe.String as String


type alias Box a =
    { value : a, label : String }


main =
    Io.println (let b = { value = @n1@, label = "@s1@" } in String.fromInt b.value)
